.find_section {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.find_section h2{
    text-align: center;
    margin: auto;
    max-width: 800px;
    font-size: 25px;
    font-weight: 800;
}
.find_card {
    padding-top: 20px;
    width: 100%;
      display: grid;    
      grid-template-columns: 1fr minmax(300px, 900px) 1fr;
    }
    
    .find_card .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));
        gap: 2rem;
        justify-content: center;
        padding-bottom: 20px;
    }

  
    .find_card .cards .card {
        padding-top: 10px;
        margin: auto;
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 200ms ease-in;
        border: none;
        transition: transform 1.0s; 
        background-color: transparent;
        padding: 10px;
        transition: transform 250ms;
    }

    /* .find_card .cards .card:hover{
        transform: translateY(-10px);
    }    */
    .find_card .cards .card .find_body{
        height: auto;
        width: 100%;
        border-radius: 10px;
        text-align: center;
    }
    .find_card .cards .card .find_body i{
        font-size: 3rem;
        color: var(--skin-color-1);
    }
    .find_card .cards .card .find_body p{
        font-size: 12px;
        font-weight: 700;
        padding-top: 15px;
    }

    .find_section .find_btn{
        width: 100%;
        display: flex;
    }
    .find_section .find_btn a{
        margin-left: auto;
        margin-right: auto;
    }
    .find_section .find_btn a button{
        background-color: var(--skin-color-1);
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: all 0.3s ease;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 5px;
        font-weight: 600;
        color: var(--white-color);
        cursor: pointer;
    }
    .find_section .find_btn a button:hover{
        background-color: crimson;
    }


    @media screen and (max-width: 550px) {
        .find_section h2{
            text-align: center;
            font-size: 18px;
        }
    }