
/* ________________________ logo section */
.sign_up_opt_section .centered_option .logo_section{
    width: 100%;
}

 .logo {
    align-items: center;
    gap: 5px;
    display: flex;
    width: auto;
    width: 200px;
    margin: auto;
  }
 .logo .logo_text h1{
    margin: 0;
    padding-bottom: -2px;
    font-size: 25px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.623);
    text-align: center;
    color: rgb(243, 108, 33);
  }
 .logo .logo_text h1 span{
    background: linear-gradient(to bottom, rgb(102, 193, 140), rgb(33, 185, 182));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
  }
   .logo .logo_text p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    color: var(--dark-black);
  }
 .logo img {
    width: 50px;
    border-radius: 50%;
  }
 .logo a {
    color: #a443ff;
    font-size: 30px;
    font-weight: 600;
  }
/* ________________________ */
