@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");



#update_profile,
#update_nominee{
    display: none;
}


.profile{
    width: 100%;
    padding-bottom: 3%;
    position: relative;
    margin: auto;
}
.profile h3{
    padding-bottom: 10px;
}

/* _____________________ complete profile progress start */
.comp_profile{
    background-color: rgb(249, 248, 248);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
}

.comp_profile p {
    text-align: center;
    font-weight: 600;
  }
  
 
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 10px;
	width: 100%;
}

.progress-done {
	background: var(--skin-color-1);
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
  
/* _____________________ complete profile progress end */
.container .profile_part{
  border: 1px solid rgba(0, 0, 0, 0.363);
  padding-left: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 25px;
}


  
    * {
        box-sizing: border-box;
    }
    
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
      -ms-flex: 50%; /* IE10 */
      flex: 50%;
  }
  
  .col-75 {
      -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  .col-50 h4{
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .row .price_service{
    border: 1px solid rgb(5, 207, 75);
    display: flex;
    width: 100%;
    gap: 10px;
  }
  .row .price_service .block{
    width: 50%;
  }
  
  .container {
      background-color: rgb(249, 248, 248);
      padding: 15px 20px 20px 20px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      width: 100%;
    }
    /* _________________________ Profile_img_section start */
    .container .img_section{
        padding-top: 5px;
        padding-bottom: 15px;
        display: flex;
    }
    .container .img_section img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-top: auto;
        margin-bottom: auto;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    textarea{
      resize: vertical;
  }
    .container .img_section span{
        font-size: 12px;
        text-align: center;
        background-color: var(--skin-color-1);
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        height: 40px;
        /* width: 200px; */
        border-radius: 5px;
        padding: 10px;
        border: none;
        color: var(--white-color);
        cursor: pointer;
    }
    .container .img_section span:hover{
        background-color: crimson;
    }
    /* _________________________ Profile_img_section end */
    .container .option_div{
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        cursor: pointer;
    }
    .container .option_div .option_desc{
        padding-left: 10px;
        width: 90%;
    }
    .container .option_div i{
        font-size: 25px;
        margin: auto;
    }
    .container .option_div .option_desc h3,
    .container .option_div .option_desc p{
        margin: 0;
        padding: 0;
    }
    .container .option_div .option_desc p{
        font-size: 11px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.568);
    }
    .container .option_div .option_desc h3{
        font-size: 14px;
        font-weight: 800;
    }
    
    select,
    textarea,
  input[type=number],
  input[type=file],
  input[type=text] {
    width: 100%;
    margin-bottom: 5px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


  select option{
    position: relative;
  }
  .container .acc_info{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 0px;
    border-radius: 3px;
    font-size: 16px;
    color: black;
  }
  .container .acc_info img{
    max-height: 100px;
    width: 170px;
    border-radius: 5px;
  }

  
    input[type=checkbox]{
        accent-color: var(--skin-color-1);
    }

    .container .col-50 p{
      color: rgb(0, 0, 0);
      font-weight: 600;
      width: 100%;
      margin-bottom: 5px;
      padding: 12px;
      border: 1px solid #ccc;
      background-color: #e7e8e8;
      border-radius: 3px;
    }


    label,
    #update_nominee label,
      #update_profile label{
      margin-bottom: 3px;
      display: block;
      font-size: 13px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.549);
    }
    label .describe{
      color: rgba(0, 0, 0, 0.549);
    }
    
   
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  .container form input[type=submit]{
    max-width: 300px;
    font-size: 13px;
  }

  .container form label{
    font-size: 17px;
  }
  .container form label span{
    font-size:15px;
  }
  
  .btn {
    background-color: var(--skin-color-1);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}
  
  .btn:hover {
    background-color: var(--skin-color-1);
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
      border: 1px solid lightgrey;
    }
    
  span.price {
    float: right;
    color: grey;
}

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
        flex-direction: column;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    .col-50,
    .col-75,
    .col-25 {
      width: 100%;
    }
      .container .acc_info{
        width: 100%;
        background-color: red;
      }
  }
  
  
  
  

  
  

  /* _________________ radio button start */
  
  .boxed {
    padding-bottom: 15px;
    display: flex;
    gap: 10px;
  }
  .boxed label {
      display: inline-block;
      width: 200px;
      padding: 10px;
      border: solid 2px #ccc;
      transition: all 0.3s;
      text-align: center;
      border-radius: 5px;
    }
    .boxed input[type="radio"] {
        display: none;
    }
    .boxed label span{
        font-weight: 800;
    }
    
  .boxed input[type="radio"]:checked + label {
    background-color: var(--skin-color-1);
    color: var(--white-color);
  }
  /* _________________ radio button end */


  
  
  
  
  







  /* _______________________change profile img div start */
  .change_img_div{
    background-color: rgba(0, 0, 0, 0.52);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.change_img_div .change_img_centered_div{
    max-width: 450px;
    height: auto;
    background-color: aliceblue;
    margin:auto;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.change_img_centered_div i{
    color: rgba(0, 0, 0, 0.541);
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.change_img_centered_div i:hover{
    color: black;
}

.change_img_div .change_img_centered_div h3{
    text-align: center;
    color: black
}

.change_img_centered_div form input[type=file]{
    margin-top: 10px;
}

.change_img_centered_div form input[type=submit]{
    background-color: var(--skin-color-1);
    width: 100%;
    border: none;
    color: aliceblue;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}
form input[type=submit]:hover{
    background-color: crimson;
}

  /* _______________________change profile img div end */


  #update_nominee .row .error_msg{
    color: red;
    width: 100%;
    margin: 0;
    margin-top: -12px;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
  }